@import url("http://fonts.cdnfonts.com/css/ds-digital");

body {
  font-family: "DS-Digital", sans-serif;
  background-image: url("https://i.pinimg.com/originals/7c/67/8b/7c678bffd31dc92dc80d95d471b0e83d.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  box-sizing: border-box; //son 40 pixles solo 40
  margin: 0; //margen no culero
  padding: 0; //padding por default
}
